{% extends 'base.html' %}


{% block content %}

{% comment %} <div class = "col-md-6 offset-md-3"> {% endcomment %}
{% if user.is_authenticated %}
{% comment %} <h1>Records</h1> {% endcomment %}
<table class="table table-light table-hover">
  <thead class ="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone no</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Created at</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
    {% if recordss %}
    {% for records in recordss %}
    <tr><td>{{ records.first_name }}
    {{ records.last_name }}</td>
    <td>{{ records.email }}</td>
    <td>{{ records.phone }}</td>
    <td>{{ records.address }}</td>
    <td>{{ records.city }}</td>
   <td> {{ records.state }}</td>
   <td> {{ records.zipcode }}</td>
    <td>{{ records.created_at }}</td>
    <td><a href="{% url 'record' records.id %}">{{ records.id }}</a></td>
    <br/>
    </tr>
    {% endfor %}
    {%endif%}
  </tbody>
</table>






{% else %}
<h1>Login</h1>
<form method="post" action="{% url 'home' %}">
{% csrf_token %}

    <form>
        <div class="mb-3">
         <input type="text" class="form-control"  placeholder="First name" name = "username", required>
        </div>
        <div class="mb-3">
          
          <input type="password" class="form-control" placeholder="Password" name ="password", required>
        </div>
       
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

</form>
</div>
{% endif %}
{% endblock %}